[Desktop Entry]
Version=0.1  
Name=TinySerial 
Comment=Offer by MULTIBEANS Carlos Wei
Exec=/opt/tinyserial/run.sh         
StartupNotify=true                     
Terminal=true                          
Type=Application      
Categories=Utility;Application;
Hidden=false                             
Icon=/usr/share/pixmaps/tinyserial.png
Name[zh_CN]=tinyserial
